@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Tektur:wght@500&display=swap');
*
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
a
{
    position: relative;
    margin: 0 15px;
    padding: 10px 30px;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* overflow: hidden; */
    transition:0.5s;
    color: #21ebff;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0006);
}
a:hover
{
    background:#21ebff;
    color: #111;
    box-shadow: 0 0 30px #21ebff,
    0px 0px 80px #21ebff,
    0px 0px 190px #21ebff;
    transition: 0.5s;
    transition-delay: 1s;
}
.first
{
    filter: hue-rotate(115deg);
}
.last
{
    filter: hue-rotate(270deg);
}
a:before
{
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    width: 10px;
    height: 10px;
    border-top: solid 2px #21ebff;
    border-left: solid 2px #21ebff;
    transition: 0.5s;
    transition-delay: 0.5s;
}
a:after
{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.5s;
}
a:hover:before 
{
    width: 98%;
    height: 95%;
}
a:hover::after
{
    width: 98%;
    height: 95%;
}









